"*":
  autoprefixer: {}
  core:
    disabledPackages: [
      "react"
      "minimap"
      "spell-check"
      "linter-spell"
      "linter-spell-html"
      "uglify"
      "redux-snippets"
      "react-snippets"
      "mighty-react-snippets"
      "intentions"
      "git-blame"
      "atom-jshint"
      "jshint"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "docs/*"
      "node_modules/*"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-selected"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Inconsolata, Monaco, Consolas, 'Courier New', Courier"
    fontSize: 15
    invisibles:
      cr: " "
      eol: " "
      tab: "⇨"
    softWrap: true
    tabLength: 4
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "0f4e16a3-5040-01ba-b000-a0793a69fb44"
  "highlight-line":
    enableBackgroundColor: false
  "highlight-selected":
    highlightBackground: true
    highlightInPanes: false
    ignoreCase: true
  jshint:
    supportLintingJsx: true
  linter:
    showErrorPanel: false
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "minimap-selection":
    highlightCursorsLines: true
  "one-dark-ui": {}
  "one-light-ui": {}
  pigments: {}
  react: {}
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "source.css"
      "text.html.basic"
    ]
  "tree-view": {}
  welcome:
    showOnStartup: false
".angular.html.text":
  editor:
    preferredLineLength: 80
".cake.source":
  editor:
    preferredLineLength: 80
".cs.source":
  editor:
    preferredLineLength: 80
".csx.source":
  editor:
    preferredLineLength: 80
".git-commit.text":
  editor:
    preferredLineLength: 80
".git-config.source":
  editor:
    preferredLineLength: 80
".git-rebase.text":
  editor:
    preferredLineLength: 80
".js.jsx.react.source":
  editor:
    showInvisibles: true
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 80
".js.regexp.source":
  editor:
    preferredLineLength: 80
".js.source":
  editor:
    preferredLineLength: 80
".json.source":
  editor:
    preferredLineLength: 80
".nant-build.source":
  editor:
    preferredLineLength: 80
